<h1>Editing user view</h1>

<%= render "form", user_user_view: @user_user_view %>

<br>

<div>
  <%= link_to "Show this user view", @user_user_view %> |
  <%= link_to "Back to user views", user_user_views_path %>
</div>
